<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/cupertino/ui.css" />

<title>Playlist</title>
</head>
<body>
<div class="page980">
<h2>SF: Test gadget</h2>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Top artists</a></li>
			<li><a href="#tabs-3">My songs</a></li>
		</ul>
		<div id="tabs-1">
		bitte warten Sie
		</div>
		<div id="tabs-3">
			<div id="songs">
				{% if plist %}
					<ul>
					{% for pentry in plist %}
						<li>
							<div class="clearfix">
								<div class="grid ui-state-default ui-corner-all">
									<span class="ui-icon ui-icon-trash remove">Remove</span>
								</div>
								<div class="grid" rel="{{pentry.id}}">{{pentry.title}}</div>
							</div>
						</li>
					{% endfor %}
					</ul>
				{% endif %}				
			</div>
			
		</div>
	</div>
</div>	


{% comment %}
	<ul>
	{% for page in results %}
	<li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
	{% endfor %}
	</ul>
{% endcomment %}
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
var _g = _g || {};
_g.data = {{ jsonData|safe }}
</script>
<script type="text/javascript" src="/static/js/custom.js"></script>		
</body>
</html>


